<div class="sign-in-bg">
  <div class="container-fluid">
    <div class="inner-container">
      <div class="sign-in-logo">
        <%= image_tag 'logo@2x.png' %>
      </div>
      <div class="login-form">
        <h2>Sign in</h2>
        <%= form_tag sessions_path do %>
          <%= email_field_tag :email, nil, placeholder: 'Email' %><br />
          <%= password_field_tag :password, nil, placeholder: 'Password' %><br />
          <%= submit_tag 'Sign In', class: 'login-form-button submit' %>
        <% end %>
        <p><%= link_to "Back to Sign Up",  new_user_path %></p>
      </div>
    </div>
  </div>
</div>
