<%= javascript_include_tag "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js" %>
<%= javascript_include_tag src="https://cdn.klokantech.com/maptilerlayer/v1/index.js"%>

<div id='domainurl' val= "<%= ENV['DOMAIN_URL'] %>" ></div>
<div class = 'container-fluid'>
 <div class="row">
  <div id='menu' class='sidebar nopadding col-xs-12 col-md-4'>
    <section id= 'menu-main'>
      <% if user_signed_in? %>
        <section class='side-section side-user'>
          <% if current_user.avatar.present? %>
            <%= image_tag current_user.avatar %>
          <% end %>
          <%= current_user.full_name %>
        </section>
      <% end %>
      <p class="side-heading">Make a Report</p>
      <section id="button-newLost" class="side-section side-lost-report">
        <p class="side-links">Lost Pet</p>
      </section>
      <section id="button-newFound" class="side-section side-lost-report">
        <p class="side-links">Found/Sighted Pet</p>
      </section>
      <p class="side-heading">Account</p>
      <section id="button-listReport" class="side-section side-lost-report">
        <p class="side-links">My Reports</p>
      </section>
      <section id="button-listMessage" class="side-section side-lost-report">
        <p class="side-links">Messages</p>
      </section>
      <section id="button-setting" class="side-section side-lost-report">
        <p class="side-links">Settings</p>
      </section>
      <section id="button-about" class="side-section side-lost-report">
        <p class="side-links">About find my pet</p>
      </section>
    </section>

    <section id='listReport'>
      <div class='report-control form-header'>
        <a class='button-back'><%=  fa_icon 'chevron-left', style: 'color: #00AEFC' %></a>
        <p class="form-heading">My Reports</p>
      </div>
      <p class="report-heading side-links">Lost Pet</p>
      <ul id='list-lost'>
      </ul>
      <p class="report-heading side-links">Found/Sighted Pet</p>
      <ul id='list-found'>
      </ul>
    </section>

    <section id='listMessage'>
      <div class='report-control form-header'>
        <a class='button-back'><%=  fa_icon 'chevron-left', style: 'color: #00AEFC' %></a>
        <p class="form-heading">My Messages</p>

      </div>
      <p class="side-heading">Lost Pet</p>
      <ul id='list-message' class="side-section">
      </ul>
    </section>
    <section id='setting'>
      <div class='report-control form-header'>
        <a class='button-back'><%=  fa_icon 'chevron-left', style: 'color: #00AEFC' %></a>
        <p class="form-heading">Settings</p>
      </div>
      <section id="button-location" class="side-section side-lost-report">
        <p class="side-links">Location</p>
      </section>
      <section id="button-notification" class="side-section side-lost-report">
        <p class="side-links">Notification</p>
      </section>
      <section id="button-signout" class="side-section side-lost-report">
        <p class="side-links">Sign Out</p>
      </section>
    </section>
    <section id='about'>
      <div class='report-control form-header'>
        <a class='button-back'><%=  fa_icon 'chevron-left', style: 'color: #00AEFC' %></a>
        <p class="form-heading">My Report</p>
      </div>
    </section>
    <section id='newReportFound'>
      <div class = 'ReportFoundForm'>
        <%= render 'found_report_form' %>
      </div>
      <section class="side-section side-lost-report-button">
        <!-- <p class="side-links">Preview</p> -->
        <button id="button-sumbitNewReportFound" class="button blue">Preview Your Report</button>
      </section>
    </section>
    <section id='previewReportFound'>
      <div class='report-control form-header'>
        <a class='button-back'><%=  fa_icon 'chevron-left', style: 'color: #00AEFC' %></a>
        <p class="form-heading">Preview</p>
      </div>
      <div id='previewReportFoundData' class='report'>
      </div>
      <section class="side-section side-lost-report-button">
        <button id="button-sumbitPreviewReportFound" class="button blue">Confirm</button>
      </section>
    </section>
    <section id='completeReportFound'>
      <div class='report-control'>
        <a class='button-back'><%=  fa_icon 'chevron-left', style: 'color: #00AEFC' %></a>
        <p class="form-heading">Completed</p>
      </div>
      <img id='pinImageFound' src="<%= asset_url('icon_report_found_sm.png', digest: false) %>">
      <section id="button-sumbitCompleteReportFound" class="side-section side-lost-report">
        <p class="side-links">Confirm</p>
      </section>
    </section>

    <section id='showReportFound'>
      <div class='report-control form-header'>
        <a class='button-back'><%= fa_icon 'chevron-left', style: 'color: #00AEFC' %></a> <p class="form-heading">Found Pet</p>
      </div>

      <div id='showReportFoundData' class="report">
      </div>

      <section id="button-reportAnotherFound" class="side-section side-lost-report">
        <p class="side-links">Report</p>
      </section>

      <section id="button-trackPet" class="side-section side-lost-report">
        <p class="side-links">Track</p>
      </section>

      <section class="side-section side-lost-report button-newMessage">
        <p class="side-links">Message</p>
      </section>
    </section>
    <section id='editReportFound'>
    </section>
    <section id='newReportLost'>
      <div class='report-control form-header'>
        <a class='button-back'><%=  fa_icon 'chevron-left', style: 'color: #00AEFC' %></a><p class="form-heading">Lost Pet</p>
      </div>
      <div class = 'ReportLostForm'>
        <%= render 'lost_report_form' %>
      </div>
      <section class="side-section side-lost-report-button">
        <button id="button-sumbitNewReportLost" class="button blue">Preview Your Report</button>
      </section>
    </section>
    <section id='previewReportLost'>
      <div class='report-control form-header'>
        <a class='button-backNewLost'><%=  fa_icon 'chevron-left', style: 'color: #00AEFC' %></a>
        <p class="form-heading">Preview</p>
      </div>
      <div id='previewReportLostData' class='report'>
      </div>
      <section class="side-section side-lost-report-button">
        <button id="button-sumbitPreviewReportLost" class="button blue">Confirm</button>
      </section>
    </section>
    <section id='completeReportLost'>
      <div class='report-control'>
        <a class='button-back'><%=  fa_icon 'chevron-left', style: 'color: #00AEFC' %></a>
         <p class="form-heading">Compelted</p>
      </div>
      <img id='pinImageLost' src="<%= asset_url('icon_report_lost_red_active_sm.png', digest: false) %>">
      <section id="button-sumbitCompleteReportLost" class="side-section side-lost-report">
        <p class="side-links">Confirm</p>
      </section>
    </section>
    <section id='showReportLost'>
      <div class='report-control form-header'>
        <a class='button-back'><%=  fa_icon 'chevron-left', style: 'color: #00AEFC' %></a><p class="form-heading">Lost Pet</p>
      </div>
      <div id='showReportLostData' class="report">
      </div>
      <section class="side-section side-lost-report button-newMessage">
        <p class="side-links">Message</p>
      </section>

    </section>
    <section id='editReportLost'>
    </section>
    <section id='showMessage'>
      <div class='menu-control'>
        <a class='button-back'><%=  fa_icon 'chevron-left', style: 'color: #00AEFC' %></a>
        <p class="form-heading">My Message</p>
      </div>
      <div id='messageData'>
      </div>
    </section>
    <section id='listFilterdReport'>
      <div class='menu-control'>
        <a class='button-back'><%=  fa_icon 'chevron-left', style: 'color: #00AEFC' %></a>
        <p class="form-heading">Reports</p>
      </div>
      <ul id='list-filterd' class="side-section">
      </ul>
    </section>
    <section id='newMessage'>
      <div class='menu-control'>
        <a class='button-back'><%=  fa_icon 'chevron-left', style: 'color: #00AEFC' %></a>
        <p class="form-heading">New Messages</p>
      </div>
      <img id='messageIMG'>
      <textarea id='messageBody'></textarea>
      <section class="button-sendMessage side-section side-lost-report">
        <p class="side-links">Send</p>
      </section>
    </section>

    <p class="side-footer"><%= fa_icon 'paw' %> Find my Pet V.01 </p>
  </div>

  <!-- sidebar template -->
    <script id="showMessageTMP" type="x-tmpl-mustache">
      <p>{{body}}</p>
    </script>

    <script id="report-summary" type="x-tmpl-mustache">
      <li data-id={{id}}>
        <p class='side-section'>{{note}}</p>
      </li>
    </script>

    <script id="message-summary" type="x-tmpl-mustache">
      <li data-id={{id}}>
        <img src={{photo1}}>
        <p>{{body}}</p>
        <hr>
      </li>
    </script>

    <script id="reportShowFound" type="x-tmpl-mustache">
      <img data-id={{id}} src={{photo1.url}}>
      <p><span class='blue-text'>Pet Type:</span> {{pet_type}}</p>
      <p><span class='blue-text'>Colour:</span> {{color}} </p>
      <p><span class='blue-text'>Last Seen date:</span> {{last_seen_date}}</p>
      <p><span class='blue-text'>Last Seen At:</span> {{last_seen_address}} </p>
      <p><span class='blue-text'>Note:</span> {{note}} </p>
    </script>

    <script id="reportShowLost" type="x-tmpl-mustache">
      <img data-id={{id}} src={{photo1.url}}>
      <p><span class='blue-text'>Pet Type:</span> {{pet_type}}</p>
      <p><span class='blue-text'>Breed:</span> {{breed}}</p>
      <p><span class='blue-text'>Name:</span> {{name}}</p>
      <p><span class='blue-text'>Sex:</span> {{sex}} </p>
      <p><span class='blue-text'>Colour:</span> {{color}} </p>
      <p><span class='blue-text'>Age:</span> {{age}} </p>
      <p><span class='blue-text'>Last Seen date:</span> {{last_seen_date}}</p>
      <p><span class='blue-text'>Last Seen At:</span> {{last_seen_address}} </p>
      <p><span class='blue-text'>Note:</span> {{note}} </p>
    </script>




    <script id="user-info" type="x-tmpl-mustache">
      <div>
        <img src = {{avator}}>
        <p>Hello: {{first_name}}
      </div>
    </script>

  <!-- END OF SIDEBAR â˜ï¸ -->

  <!-- ðŸ‘¨ MUSTACHE TEMPLATES -->

  <script id="showMessage" type="x-tmpl-mustache">
    <img src={{photo1}}>
    <p>{{body}}</p>
  </script>
  <script id="report-summary" type="x-tmpl-mustache">
    <li data-id={{id}}>
      <p>{{note}}</p>
      <hr>
    </li>
  </script>
  <script id="message-summary" type="x-tmpl-mustache">
    <li data-id={{id}}>
      <img src={{photo1}}>
      <p>{{body}}</p>
      <hr>
    </li>
  </script>

  <script id="user-info" type="x-tmpl-mustache">
    <div>
      <img src = {{avator}}>
      <p>Hello: {{first_name}}
    </div>
  </script>

<!-- ðŸ‘¨ END OF MUSTACHE TEMPLATES -->

<!-- ðŸ—º MAP VIEW -->
  <div class='map-view nopadding col-xs-12 col-md-8'>
    <div id="map-container">

      <form id="search-container">
        <div class="form-group">
          <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
            <input id="pac-input" type="text" placeholder="Search Box">
        </div>


        <div id='searchForm' class="form-group">
          <hr>
          <label class="form-check-label" id="lost-checkbox">
          <input class="form-check-input" id='lost-check' type="checkbox" name="Lost Pet" checked='true' >Lost Pet</label>
          <label class="form-check-label" id="found-checkbox">
          <input class="form-check-input" id='found-check' type="checkbox" name="Found Pet" checked="true" >Found Pet</label>
          <br>
          <a id='button-search' class="btn btn-primary">Search</a>
        </div>

      </form>
      <div id="map-canvas"></div>
        <div id="map-canvas"></div>
          <div id="legend"><h3>Pets</h3></div>

    </div>
  </div>

  <!-- END OF MAP VIEW -->
</div>

<script>
var markers = [];
var map;

function initSearch() {
  // var map = new google.maps.Map(document.getElementById('map'), {
  //   center: {lat: -33.8688, lng: 151.2195},
  //   zoom: 13,
  //   mapTypeId: 'roadmap'
  // });
  // Create the search box and link it to the UI element.
 var input = document.getElementById('pac-input');
 var formInput = document.getElementById('pac-report-input');
 var formInputLost = document.getElementById('pac-report-input-lost');

 var searchContainer = document.getElementById('search-container');

 var searchBox = new google.maps.places.SearchBox(input);
 var formSearchBox = new google.maps.places.SearchBox(formInput);
 var formLostSearchBox = new google.maps.places.SearchBox(formInputLost);

 map.controls[google.maps.ControlPosition.TOP_RIGHT].push(searchContainer);
 // Bias the SearchBox results towards current map's viewport.
 map.addListener('bounds_changed', function() {
   searchBox.setBounds(map.getBounds());
 });

$("#search-container").show();
 // Listen for the event fired when the user selects a prediction and retrieve
       // more details for that place.
 searchBox.addListener('places_changed', function() {
   var places = searchBox.getPlaces();

   if (places.length == 0) {
     return;
   }

  //  // Clear out the old markers.
  //  markers.forEach(function(marker) {
  //    marker.setMap(null);
  //  });
  //  markers = [];

   // For each place, get the icon, name and location.
   var bounds = new google.maps.LatLngBounds();
   places.forEach(function(place) {
     if (!place.geometry) {
       console.log("Returned place contains no geometry");
       return;
     }
    //  var icon = {
    //    url: place.icon,
    //    size: new google.maps.Size(71, 71),
    //    origin: new google.maps.Point(0, 0),
    //    anchor: new google.maps.Point(17, 34),
    //    scaledSize: new google.maps.Size(25, 25)
    //  };
     //
    //  // Create a marker for each place.
    //  markers.push(new google.maps.Marker({
    //    map: map,
    //    icon: '',
    //    title: place.name,
    //    position: place.geometry.location
    //  }));

     if (place.geometry.viewport) {
       // Only geocodes have viewport.
       bounds.union(place.geometry.viewport);
     } else {
       bounds.extend(place.geometry.location);
     }
   });
   map.fitBounds(bounds);
 });


}

var addLegend = function () {
  var iconBase = '';
  var icons = {
    lost: {
      name: 'Lost',
      icon: iconBase + 'http://storage8.static.itmages.com/i/16/1120/h_1479684823_4696094_cedddc5c3a.png'
    },
    sighted: {
      name: 'Sighted',
      icon: iconBase + 'http://storage6.static.itmages.com/i/16/1120/h_1479684799_7772859_c01f214934.png'
    },
  };
  var legend = document.getElementById('legend');

  for (var key in icons) {
    var type = icons[key];
    var name = type.name;
    var icon = type.icon;
    var div = document.createElement('div');
    div.innerHTML = '<img src="' + icon + '"> ' + name;
    legend.appendChild(div);
  }
//
  map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
}

//create map
function initMap(){
  var latitude = 49.2827291;
  var longitude = -123.12073750000002;

  handler = Gmaps.build('Google');
  handler.buildMap({
      provider: {
        mapTypeControl: false,
        streetViewControl: false,
        zoom: 14,
        center: {lat: latitude, lng: longitude},

      },
      internal: {id: 'map-canvas'}}, function(){
    markers = handler.addMarkers(<%=raw @markers.to_json %>);

    if(markers.length != 0){
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
     }
    map = handler.map.serviceObject.data.map

    initSearch();

    var geoloccontrol = new klokantech.GeolocationControl(map, 18);
    // if(navigator.geolocation)
    //   navigator.geolocation.getCurrentPosition(displayOnMap);

    addLegend();
  });
}
function setMapOnAll(map) {
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(map);
  }
}

function searchResults(marks){
  clearMarkers();
  markers = handler.addMarkers(marks);


}

function addMarker(mark){
  console.log(mark);
  var icon = "";
  if (mark.report_type == "Lost"){
    icon = ".."+'<%= path_to_image("icon_report_lost_red_active_sm.png") %>'
    };
  } else {
    icon = "../.."+'<%= path_to_image("icon_report_found_sm.png") %>'
    };
  }

  var newMarker = new google.maps.Marker({
    position: new google.maps.LatLng(mark.latitude, mark.longitude),
    title: mark.last_seen_date,
    lat: mark.latitude,
    lng: mark.longitude,
    id: mark.id,
    icon: icon,
    map: map
  });

  // if (mark.report_type == "Lost"){
  //   newMarker.picture = {
  //     "url": ".."+'<%= path_to_image("icon_report_lost_red_active_sm.png") %>',
  //     "width": 22,
  //     "height": 32
  //   };
  //   // newMarker.icon = "<%= asset_url('icon_report_lost_red_active_sm.png', digest: false) %>";
  // } else {
  //   newMarker.picture = {
  //     "url": "../.."+'<%= path_to_image("icon_report_found_sm.png") %>',
  //     "width": 23,
  //     "height": 32
  //   };
  //   // newMarker.icon = "<%= asset_url('icon_report_found_sm.png', digest: false) %>";
  // }
  console.log(newMarker);
  // newMarker.setMap(map);
  // clearMarkers();
  // showMarkers();
  //  markers = handler.addMarkers(newMarker);
  //  showMarkers();
  markers.push(newMarker);
   showMarkerOther(newMarker);
}

function showMarkerOther(mark){
  map.setZoom(17);
  map.panTo(new google.maps.LatLng(mark.lat, mark.lng));
}
function showMarker(mark){
  map.setZoom(17);
  map.panTo(new google.maps.LatLng(mark.latitude, mark.longitude));
}

function showMarkers() {
  setMapOnAll(map);
}

function clearMarkers() {
    setMapOnAll(null);
}

// in listener
//

</script>
<script src= "https://maps.googleapis.com/maps/api/js?key=AIzaSyBXclu8PhDGVun2bDikmbNE5YUUNRFG204&libraries=places&callback=initMap"></script>
