<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src="https://cdn.klokantech.com/maptilerlayer/v1/index.js"></script>

<div class = 'container-fluid'>
 <div class="row">
  <div id='menu' class='sidebar nopadding col-xs-12 col-md-4'>
    <section id= 'menu-main'>
      <% if user_signed_in? %>
        <section class='side-section side-user'>
          <% if current_user.avatar.present? %>
            <%= image_tag current_user.avatar %>
          <% end %>
          <%= current_user.full_name %>
        </section>
      <% end %>
      <p class="side-heading">Make a Report</p>
      <section id="button-newLost" class="side-section side-lost-report">
        <p class="side-links">Lost Pet</p>
      </section>
      <section id="button-newFound" class="side-section side-lost-report">
        <p class="side-links">Found/Sighted Pet</p>
      </section>
      <p class="side-heading">Account</p>
      <section id="button-listReport" class="side-section side-lost-report">
        <p class="side-links">My Report</p>
      </section>
      <section id="button-listMessage" class="side-section side-lost-report">
        <p class="side-links">Messages</p>
      </section>
      <section id="button-setting" class="side-section side-lost-report">
        <p class="side-links">Settings</p>
      </section>
      <section id="button-about" class="side-section side-lost-report">
        <p class="side-links">About find my pet</p>
      </section>
    </section>

    <section id='listReport'>
      <div class='report-control form-header'>
        <a class='button-back'><%=  fa_icon 'chevron-left', style: 'color: #00AEFC' %></a><p class="form-heading">My Reports</p>
      </div>
      <p class="report-heading side-links">Lost Pet</p>
      <ul id='list-lost' class="side-section">
      </ul>
      <p class="report-heading side-links">Found/Sighted Pet</p>
      <ul id='list-found' class="side-section">
      </ul>
    </section>

    <section id='listMessage'>
      <div class='menu-control'>
        <a class='button-back'>BACK</a> MY Messages
      </div>
      <p class="side-heading">Lost Pet</p>
      <ul id='list-message'>
      </ul>
    </section>
    <section id='setting'>
      <div class='menu-control'>
        <a class='button-back'>BACK</a> Setting
      </div>
      <section id="button-location" class="side-section side-lost-report">
        <p class="side-links">Location</p>
      </section>
      <section id="button-notification" class="side-section side-lost-report">
        <p class="side-links">Notification</p>
      </section>
      <section id="button-signout" class="side-section side-lost-report">
        <p class="side-links">Sign Out</p>
      </section>
    </section>
    <section id='about'>
      <div class='menu-control'>
        <a class='button-back'>BACK</a> MY REPORT
      </div>
      ABOUT
    </section>
    <section id='newReportFound'>
      <div class = 'ReportFoundForm'>
        <%= render 'found_report_form' %>
      </div>
      <section id="button-sumbitNewReportFound" class="side-section side-lost-report">
        <p class="side-links">Preview</p>
      </section>
    </section>
    <section id='previewReportFound'>
      <div class='report-control'>
        <a class='button-back'>BACK</a> MY REPORT
      </div>
      <div id='previewReportFoundData'>
      </div>
      <section id="button-sumbitPreviewReportFound" class="side-section side-lost-report">
        <p class="side-links">Confirm</p>
      </section>
    </section>
    <section id='completeReportFound'>
      <div class='report-control'>
        <a class='button-back'>BACK</a>Found Pet
      </div>
      <img id='pinImageLost'>
      <section id="button-sumbitCompleteReportFound" class="side-section side-lost-report">
        <p class="side-links">Confirm</p>
      </section>
    </section>

    <section id='showReportFound'>
      <div class='report-control form-header'>
        <a class='button-back'><%= fa_icon 'chevron-left', style: 'color: #00AEFC' %></a><p class="form-heading">Found Pet</p>
      </div>

      <div id='showReportFoundData' class="report">
      </div>
    </section>
    <section id='editReportFound'>
    </section>
    <section id='newReportLost'>
      <div class='report-control form-header'>
        <a class='button-back'><%=  fa_icon 'chevron-left', style: 'color: #00AEFC' %></a><p class="form-heading">Lost Report</p>
      </div>
      <div class = 'ReportLostForm'>
        <%= render 'lost_report_form' %>
      </div>
      <section id="button-sumbitNewReportLost" class="side-section side-lost-report">
        <p class="side-links">Preview</p>
      </section>
    </section>
    <section id='previewReportLost'>
      <div class='report-control'>
        <a class='button-back'>BACK</a> Lost Pet
      </div>
      <div id='previewReportLostData'>
      </div>
      <section id="button-sumbitPreviewReportLost" class="side-section side-lost-report">
        <p class="side-links">Confirm</p>
      </section>
    </section>
    <section id='completeReportLost'>
      <div class='report-control'>
        <a class='button-back'>BACK</a> Lost Pet
      </div>
      <img id='pinImageLost'>
      completed a report
      <section id="button-sumbitCompleteReportLost" class="side-section side-lost-report">
        <p class="side-links">Confirm</p>
      </section>
    </section>
    <section id='showReportLost'>
      <div class='report-control form-header'>
        <a class='button-back'><%=  fa_icon 'chevron-left', style: 'color: #00AEFC' %></a><p class="form-heading">Lost Report</p>
      </div>
      <div id='showReportLostData' class="report">
      </div>

    </section>
    <section id='editReportLost'>
    </section>
    <section id='showMessage'>
      <div class='menu-control'>
        <a class='button-back'>BACK</a> Message
      </div>
      <div class='messageData'>
      </div>
    </section>
    <section id='listFilterdReport'>
      <div class='menu-control'>
        <a class='button-back'>BACK</a> Filter Report
      </div>
      <ul id='list-filterd'>
      </ul>
    </section>
    <section id='newMessage'>
      <div class='menu-control'>
        <a class='button-back'>BACK</a> MY Messages
      </div>
      <img id='messageIMG'>
      <textarea id='messageBody'></textarea>
      <section class="button-sendMessage side-section side-lost-report">
        <p class="side-links">Send</p>
      </section>
    </section>

    <p class="side-footer"><%= fa_icon 'paw' %> Find my Pet V.01 </p>
  </div>

  <!-- sidebar template -->
    <script id="showMessage" type="x-tmpl-mustache">
      <img src={{photo1}}>
      <p>{{body}}</p>
    </script>
    <script id="report-summary" type="x-tmpl-mustache">
      <li data-id={{id}}>
        <p>{{note}}</p>
        <hr>
      </li>
    </script>
    <script id="message-summary" type="x-tmpl-mustache">
      <li data-id={{id}}>
        <img src={{photo1}}>
        <p>{{body}}</p>
        <hr>
      </li>
    </script>

    <script id="reportShowFound" type="x-tmpl-mustache">
      <img data-id={{id}} scr={{photo}}>
      <p><span class='blue-text'>Pet Type:</span> {{pet_type}}</p>
      <p><span class='blue-text'>Colour:</span> {{color}} </p>
      <p><span class='blue-text'>Last Seen date:</span> {{last_seen_date}}</p>
      <p><span class='blue-text'>Last Seen At:</span> {{last_seen_address}} </p>
      <p><span class='blue-text'>Note:</span> {{note}} </p>
    </script>

    <script id="reportShowLost" type="x-tmpl-mustache">
      <img data-id={{id}} scr={{photo}}>
      <p><span class='blue-text'>Pet Type:</span> {{pet_type}}</p>
      <p><span class='blue-text'>Breed:</span> {{breed}}</p>
      <p><span class='blue-text'>Name:</span> {{name}}</p>
      <p><span class='blue-text'>Sex:</span> {{sex}} </p>
      <p><span class='blue-text'>Colour:</span> {{color}} </p>
      <p><span class='blue-text'>Age:</span> {{age}} </p>
      <p><span class='blue-text'>Last Seen date:</span> {{last_seen_date}}</p>
      <p><span class='blue-text'>Last Seen At:</span> {{last_seen_address}} </p>
      <p><span class='blue-text'>Note:</span> {{note}} </p>
    </script>




    <script id="user-info" type="x-tmpl-mustache">
      <div>
        <img src = {{avator}}>
        <p>Hello: {{first_name}}
      </div>
    </script>

  <!-- END OF SIDEBAR â˜ï¸ -->

  <!-- ðŸ‘¨ MUSTACHE TEMPLATES -->

  <script id="showMessage" type="x-tmpl-mustache">
    <img src={{photo1}}>
    <p>{{body}}</p>
  </script>
  <script id="report-summary" type="x-tmpl-mustache">
    <li data-id={{id}}>
      <p>{{note}}</p>
      <hr>
    </li>
  </script>
  <script id="message-summary" type="x-tmpl-mustache">
    <li data-id={{id}}>
      <img src={{photo1}}>
      <p>{{body}}</p>
      <hr>
    </li>
  </script>

  <script id="user-info" type="x-tmpl-mustache">
    <div>
      <img src = {{avator}}>
      <p>Hello: {{first_name}}
    </div>
  </script>

<!-- ðŸ‘¨ END OF MUSTACHE TEMPLATES -->

<!-- ðŸ—º MAP VIEW -->
  <div class='map-view nopadding col-xs-12 col-md-8'>
    <div id="map-container">

      <form id="search-container">
        <div class="form-group">
          <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
            <input id="pac-input" type="text" placeholder="Search Box">
              <hr>
        </div>


        <div class="form-group">
          <label class="form-check-label" id="lost-checkbox">
          <input class="form-check-input" type="checkbox" name="Lost Pet" value="lost">Lost Pet</label>
          <label class="form-check-label" id="found-checkbox">
          <input class="form-check-input" type="checkbox" name="Found Pet" value="sighted">Found Pet</label>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
      </form>
      <div id="map-canvas"></div>
        <div id="map-canvas"></div>
          <div id="legend"><h3>Pets</h3></div>

    </div>
  </div>

  <!-- END OF MAP VIEW -->
</div>

<script>
var markers = [];
var map;


function initSearch() {
  // var map = new google.maps.Map(document.getElementById('map'), {
  //   center: {lat: -33.8688, lng: 151.2195},
  //   zoom: 13,
  //   mapTypeId: 'roadmap'
  // });
  // Create the search box and link it to the UI element.
 var input = document.getElementById('pac-input');
 var formInput = document.getElementById('pac-report-input');
 var searchContainer = document.getElementById('search-container');
 var searchBox = new google.maps.places.SearchBox(input);
 if(formInput){
   var formSearchBox = new google.maps.places.SearchBox(formInput);
 }

 map.controls[google.maps.ControlPosition.TOP_RIGHT].push(searchContainer);
 // Bias the SearchBox results towards current map's viewport.
 map.addListener('bounds_changed', function() {
   searchBox.setBounds(map.getBounds());
 });

 // Listen for the event fired when the user selects a prediction and retrieve
       // more details for that place.
 searchBox.addListener('places_changed', function() {
   var places = searchBox.getPlaces();

   if (places.length == 0) {
     return;
   }

  //  // Clear out the old markers.
  //  markers.forEach(function(marker) {
  //    marker.setMap(null);
  //  });
  //  markers = [];

   // For each place, get the icon, name and location.
   var bounds = new google.maps.LatLngBounds();
   places.forEach(function(place) {
     if (!place.geometry) {
       console.log("Returned place contains no geometry");
       return;
     }
    //  var icon = {
    //    url: place.icon,
    //    size: new google.maps.Size(71, 71),
    //    origin: new google.maps.Point(0, 0),
    //    anchor: new google.maps.Point(17, 34),
    //    scaledSize: new google.maps.Size(25, 25)
    //  };
     //
    //  // Create a marker for each place.
    //  markers.push(new google.maps.Marker({
    //    map: map,
    //    icon: '',
    //    title: place.name,
    //    position: place.geometry.location
    //  }));

     if (place.geometry.viewport) {
       // Only geocodes have viewport.
       bounds.union(place.geometry.viewport);
     } else {
       bounds.extend(place.geometry.location);
     }
   });
   map.fitBounds(bounds);
 });


}

var addLegend = function () {
  var iconBase = '';
  var icons = {
    lost: {
      name: 'Lost',
      icon: iconBase + 'http://storage8.static.itmages.com/i/16/1120/h_1479684823_4696094_cedddc5c3a.png'
    },
    sighted: {
      name: 'Sighted',
      icon: iconBase + 'http://storage6.static.itmages.com/i/16/1120/h_1479684799_7772859_c01f214934.png'
    },
  };
  var legend = document.getElementById('legend');

  for (var key in icons) {
    console.log(key);
    var type = icons[key];
    var name = type.name;
    var icon = type.icon;
    var div = document.createElement('div');
    div.innerHTML = '<img src="' + icon + '"> ' + name;
    legend.appendChild(div);
  }
//
  map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
}

//create map
function initMap(){
  var latitude = 49.2827291;
  var longitude = -123.12073750000002;

  handler = Gmaps.build('Google');
  handler.buildMap({
      provider: {
        mapTypeControl: false,
        streetViewControl: false,
        zoom: 14,
        center: {lat: latitude, lng: longitude},

      },
      internal: {id: 'map-canvas'}}, function(){

    markers = handler.addMarkers(<%=raw @markers.to_json %>);

    if(markers.length != 0){
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
     }
    map = handler.map.serviceObject.data.map

    initSearch();

    var geoloccontrol = new klokantech.GeolocationControl(map, 18);
    // if(navigator.geolocation)
    //   navigator.geolocation.getCurrentPosition(displayOnMap);

    addLegend();
  });
}
function setMapOnAll(map) {
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(map);
  }
}

function addMarker(id, lost){

}

function showMarkers() {
  setMapOnAll(map);
}

function clearMarkers() {
    setMapOnAll(null);
}

// in listener
//

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXclu8PhDGVun2bDikmbNE5YUUNRFG204&libraries=places&callback=initMap"
 type="text/javascript"></script>
