<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXclu8PhDGVun2bDikmbNE5YUUNRFG204&callback=initMap"
 type="text/javascript"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src="https://cdn.klokantech.com/maptilerlayer/v1/index.js"></script>
<div class = 'container-fluid'>
 <div class="row">
  <div class ='sidebar col-md-3'>
   <h2>Sidebar</h2>
   <div class='container-fluid'>
     <ul>
       <li><%= link_to 'Home', root_path %></li>
       <% if user_signed_in? %>
         <li>
           <p>Hello <%= current_user.first_name %></p>
         </li>
         <li>
           <%= button_to 'Sign out',
             sessions_path,
             method: :delete
             %>
           </li>
       <% else %>
         <li><%= link_to 'Sign up', new_user_path %></li>
         <li><%= link_to 'Sign In', new_session_path %></li>
         <li><%= link_to 'Sign In With Facebook', sign_in_facebook_path %></li>
       <% end %>
     </ul>
   </div>
  </div>

  <div class='map-view col-md-9'>
    <div id="map-container">
      <div id="map-canvas"></div>
    </div>
  </div>
 </div>
</div>

<script>

//create map
function initMap(){
  var latitude = 49.2827291;
  var longitude = -123.12073750000002;


  handler = Gmaps.build('Google');
  handler.buildMap({
      provider: {
        mapTypeControl: false,
        streetViewControl: false,
        zoom: 14,
        center: {lat: latitude, lng: longitude},

      },
      internal: {id: 'map-canvas'}}, function(){
    // markers = handler.addMarkers([
    //   {
    //     "lat": latitude,
    //     "lng": longitude,
    //     "picture": {
    //       "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
    //       "width":  32,
    //       "height": 32
    //     },
    //     "infowindow": "hello!"
    //   }
    // ]);

    var markers = handler.addMarkers(<%=raw @markers.to_json %>);

    if(markers.length != 0){
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
     }

    var geoloccontrol = new klokantech.GeolocationControl(handler.map.serviceObject.data.map, 18);
    // if(navigator.geolocation)
    //   navigator.geolocation.getCurrentPosition(displayOnMap);
  });
}

// in listener
//

</script>
