<p>Hello <%= @user.full_name %>,</p>
<p>You got a new report</p>
<p>Report: <%= @report.report_type %></p>
<%= @report.name %> <p>was last seen: <%= @report.last_seen_date %> in <%= @report.last_seen_address %> </p>
<%= link_to 'Click here to view report', report_url(@report) %>
<p>Regards,</p>
<p>Find My Pet Team</p>
